@import "./styles/theme.css";
@import "./styles/buttons.css";
@import "./styles/scoreboard.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

body {
  font-family:
    Inter,
    system-ui,
    sans-serif;

  background: #111;
  color: white;
}